body {

	background: linear-gradient( 90deg,
     rgba(0,0,0,100%),
      rgba(0,0,0,90%),
      rgba(0,0,0,80%),
      rgba(0,0,0,35%),
      rgba(0,0,0,0%)) no-repeat,
  	 url(img/grill.jpg);
	background-size: cover;
	height: 600px;
	


	


}
h1 {
	
	
	color:#cccccccc;
	text-align: center;
	text-transform: uppercase;

	

}

.nav {
	/*border-style:solid;*/
	
	/*display:inline-block;*/
	float: right;
	margin:0px 20px;
	color: grey;
	display: inline-block;
	width: 60%;
	text-align: right;

  


}

.panel {
	width: 30%;
	height:600px;
	background-color:black;
	color: white;
	opacity: 90%;
	padding: 50px;
	margin-top: 60px;
}

	



	


.nav ul li {
	
	margin: 0px 20px;
	text-align: center;
	color: grey;
	/*width: 112px;*/
	/*border-width: 1px;*/
	/*border-style: solid;*/
	display: inline-block;
	border-radius: 40px 30px;

}
.nav ul li:hover {
	background-color: gray;
	color: white;

}
li{
	color: red;
	
}
a {
	text-decoration: none;
	display:inline-block;
	color:white;
	font-size: 20px;
	/*border-width: 1px;
	border-style:solid;*/
	width: 110px; 
	height: 40px;
    font-family: 'Aclonica';font-size: 19px;

}
a hover {
	color:white;

}


/*section{

	width: 625px;
	height: 700px;
	margin-left: 50px;
	background-color: gold;*/

	p{
		text-align: justify;
		color: white;
		margin-top: 5px;
	}
img{
	height: 80px;
	position: absolute;
	z-index: 1;
}



	

